html,body{
    padding-top:40px;
}
.navbar-brand
{
    background: url('../img/javascript_logo.png') no-repeat left center;
    height: 20px;
    width: 150px;
    margin-top:10px;
    margin-left:5px;
    background-size:contain;
}
@media (min-width: 979px) {
    body {
        padding-top: 40px;
    }
    .navbar-brand
    {
        width: 250px;
    }
}

/* Change layout of the bootstrap  */
.navbar-inverse {
    background-color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FFF;
    color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
}


.navbar-inverse {
    border-color: #63A814;
}

.navbar-inverse .navbar-toggle {
    border-color: #63A814;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #63A814;

}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #FFFFFF;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #63A814;
}

/* INPUT STYLES  */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
.input-block-level {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 30px;
    width:100%;
}
ul{
    list-style: none;
    
}
li img{
    max-height: 100px;
}
/*END INPUT STYLE */

#main{
    height: 100%;
}

.labels{
    background: white;
    color: #000;
    font-size:16px;
    padding: 5px;
    border: 1px solid grey;
    border-radius:5px;
    font-size:15px;
}
textarea{
		width:100%;
	  }


	label span input {

		line-height: 0;
		font-size: 50px;
		position: relative;

		opacity: 0;
		filter: alpha(opacity = 0);
		-ms-filter: "alpha(opacity=0)";
		cursor: pointer;
		_cursor: hand;
		margin: 0;
		padding:0;
	}
	.btn-primary {
	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #000;
	  *background-color: #000;
	  background-image:none;
	  background-repeat: repeat-x;
	  border-color: #0044cc #0044cc #002a80;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

	}
    .btn-pay {
      z-index: 9999999;

      float:right;
    }


	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.btn-primary.disabled,
	.btn-primary[disabled] {
		color: #999999;
	  background-color: #000;
	  *background-color: #000;
	}

img {
    max-width: 100%;
}
.top_part{
    height:25px;
    width:100%;
    position:fixed;
    top:0px;
    background: #FFFFFF;
    z-index: 9999;
}



