<div class="row" >
    <div class="col-xs-10 col-xs-offset-2">
        <h2>Javascript SPA Platform</h2>
        <h4>Roadmap:</h4>
                    <ul>
                        <li>CSS preprocessor (SASS or LESS)</li>
                        <li>Testing framework (Jasmine + phantom)</li>
                        <li>Enable modules in the framework (Marionette module)</li>
                        <li>Improved documentation</li>
                        <li>More integration with phone</li>
                        <li>Urban Airship</li>
                        <li>Google maps wrapper out of the IDMON map functions</li>
                        <li>Geocode</li>
                        <li>Validation functions: IBAN</li>
       </ul>
        <ul>
            <li>JQuery</li>
            <li>Backbone</li>
            <li>Marionette</li>
            <li>Requirejs</li>
            <li>Google API's</li>
            <li>Phone gap</li>
        </ul>
    </div>
</div>