<div class="row" >
    <div class="col-xs-10 col-xs-offset-2">
        
            <h2>Javascript SPA Platform</h2>
            <h4>Optimized to work with phone gap</h4>
            <ul>
                <li>
                   <img src = "img/PhoneGapLogo.png" />  
                   <img src = "img/OS-icons1-300x112.png" />     
               </li>  
               <li>
                   <img src = "img/bootstrap2_logo.png" />
                   <img src = "img/web-logos.png" />                  
               </li>

               <li>
                   <img src = "img/backbone-image.png" />
               </li>
               <li>
                   <img src = "img/logo-marionette.png" />
                   <img src = "img/requirejs_logo.png" />
                   <img src = "img/jquery-logo.png" />
               </li>               
                   
            </ul>
    </div>
</div>
