<div id="top_part"></div>
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container headercontainer">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/demoDualStorage">demoDualStorage</a></li>
                <li><a href="/demoLocalNotification">demoLocalNotification</a></li>                
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>