<div class="row" >
    <div class="col-xs-10 col-xs-offset-2">
        <label><%= name %></label>
        <input type ="text" placeholder="name" name="userName"/>
        <button id="submit">submit</button>
    </div>
</div>
